@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import 'scss-reset/_reset.scss';
body {
  font-family: 'Space Grotesk',
    sans-serif;
  background-color: #BADFC0;
  margin: 0;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
:root {
  --blue: #8094FF;
  --white: #FFFFFF;
  --dark: #18191F;
  --yellow: #FFD465;
  --cyan: #61E4C5;
  --gray: #474A57;
  --pink: #FF89BB;
  --red: #F95A2C;
  --contra_yellow: #FFBD12;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

input[type="checkbox"] {
  visibility: hidden;

  &:checked+label {
    transform: rotate(360deg);
    background-color: #000;

    &:before {
      transform: translateX(90px);
      background-color: #FFF;
    }
  }
}

label {
  display: flex;
  width: 180px;
  height: 90px;
  border: 6px solid;
  border-radius: 99em;
  position: relative;
  transition: transform .75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;

  &:before {
    transition: transform .75s ease;
    transition-delay: .5s;
    content: "";
    display: block;
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: #000;
    border-radius: 50%;
    top: 12px;
    left: 12px;
  }
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 900px;
  margin: 0px auto;
  &.footer{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 24px;
  }
  &.link_container{
    padding-top: 0px;
  }
  
}
.main_section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.content-wrap {
  min-height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  flex-direction: column;

  .text {
    h3 {
      font-size: 80px;
      font-weight: bolder;
      line-height: 69%;

      @media screen and (max-width: 768px) {
        font-size: 50px;
      }
    }

    h1 {
      font-size: 90px;
      font-weight: 400;
      line-height: 100%;

      @media screen and (max-width: 768px) {
        font-size: 100px;
      }

      /* Ensures the content is not revealed until the animation */
      span {
        font-weight: 800;
      }
    }



    p {
      margin-top: 35px;
      max-width: 700px;
      font-size: 35px;
      font-weight: normal;
    }

  }

  .button {
    margin-top: 50px;
    display: flex;
    
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    a {
      padding: 11px 20px;
      border-color: black;
      border: 2px solid black;
      border-radius:10px;
      font-size: 20px;
      line-height: 29px;
      font-style: normal;
      font-weight: bold;
      background-color: var(--cyan);
      text-decoration: none;
      color: #000;
      // box-shadow: 4px 4px 0px #000000;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;



      &:hover {
        box-shadow: 3px 3px 0px black;
      }

      &.discord {
        margin-left: 30px;
        background-color: var(--blue);

        @media screen and (max-width: 768px) {
          margin: 0;
          margin-bottom: 12px;
        }
      }

      &.instagram {
        margin-left: 30px;
        background-color:var(--pink);

        @media screen and (max-width: 768px) {
          margin: 0;
          margin-bottom: 12px;
        }
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 12px;
      }
    }

  }
}

.calc-wrap {
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    transform: scale(.75);
    margin-top: 10px;
  }
  .calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 30px;
    height: 500px;
    width: 500px;
    border: 4px solid black;
    background-color: #ECB831;
    @media screen and (max-width: 768px) {
        width: auto;
      }
    .screen {
      border: 4px solid black;
      border-radius: 30px;
      height: 80px;
      width: 415px;
      padding: 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      vertical-align: auto;
      background-color: #D9D9D9;
      box-shadow: 3px 3px 0px #000000;
      text-align: right;
      font-size: 30px;
      &:disabled{
        color: #000;
        font-weight: 500;


      }
      
    }

.btnwrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
    .buttons {
      border-radius: 30px;
      margin-top: 42px;
      border: 4px solid black;
      height: 300px;
      display: flex;
      justify-content: space-around;

      background-color: #D9D9D9;
      box-shadow: 3px 3px 0px #000000;

      .left-btn {
        margin-left: 20px;
        margin-right: 20px;

        .numbers {

          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 10px;
          margin-top: 20px;

          li {

            button {
              width: 70px;
              border: 3px solid black;
              box-shadow: 2px 2px 0px #000000;
              padding: 16px;
              border-radius: 10px;
              transition: all 0.1s ease-in-out 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s;

              &:active {
                box-shadow: 0px 0px 0px #000000;
              }




            }

            .zero {
              width: 100px;
            }
          }
      }
      .equal{
        background-color: #61C577;
      }
      .bottom-btn{
         ul{
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          margin-top: 10px;
        button {
            width: 70px;
            border: 3px solid black;
            box-shadow: 2px 2px 0px #000000;
            padding: 16px;
            border-radius: 10px;
        
            &:active {
              box-shadow: 0px 0px 0px #000000;
            }
        
        
          
          }
          

        }
          
        }
      }


    }
        .right-btn {

          margin-left: 40px;
          margin-top: 42px;
          .ac{
            background-color: #6260D4;
          }
          ul {
            background-color: #D9D9D9;
          
          
            border: 3px solid black;
            box-shadow: 2px 2px 0px #000000;
            border-radius: 20px;
    
            li {
              margin: 10px;
              

              button {
                width: 70px;
                border: 3px solid black;
                box-shadow: 2px 2px 0px #000000;
                padding: 12px;
                border-radius: 10px;
                background-color: wheat;
                &:active {
                  box-shadow: 0px 0px 0px #000000;
                }
    
    
    
    
              }
            }
    
          }
        }
    }
  }
}

.p-menu-wrap{
  display: flex;
  justify-content: center;
  margin-bottom:50px;
  grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  .p-menu{

    a{
      display: flex;
      padding: 100px;
    
      border-color: black;
      border: 2px solid black;
      border-radius: 20px;
      font-size: 30px;
      line-height: 50px;
      font-style: normal;
      font-weight: 600;
      
      background-color:#ECB831 ;
      text-decoration: none;
    
      color: #000;
      box-shadow: 4px 4px 0px #000000;
      margin-top: 40px;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      &.gameoflife{
        background-color: rgb(211, 74, 74);
        color: white;
        background-image: url('/images/gameoflife.gif');
        background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          
          &::before{
            content: "";
              border-radius: 16px;
              display: block;
              position: absolute;
              z-index: -1;
              inset: -2px;
              opacity: 1;
              transform: scale(1);
              backdrop-filter: blur(4px);
          }
          img{
            filter: blur(8px);
          }
      }
        @media screen and (max-width: 768px) {
          margin: 0;
          margin-bottom: 12px;
        }
        &:hover{
          box-shadow: 1px 1px 0px #000000;
          transform: scale(1.2);
          @media screen and (max-width: 768px) {
              box-shadow: 1px 1px 0px #000000;
          transform: scale(1);
            }
        }
    }
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-content: center;
  h1{
    font-size: 50px;
    font-weight: bold;

  }
  
}
.buttons {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;


  a {
    padding: 16px 29px;
    border-color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    line-height: 29px;
    font-style: normal;
    font-weight: 600;
    background-color: #61C577;
    text-decoration: none;
    color: #000;
    box-shadow: 4px 4px 0px #000000;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

    &:hover {
      box-shadow: 1px 1px 0px black;
    }

    &.footbtm {
      background-color: #79B5E1;
    }

    &.playground {
      margin-left: 50px;
      background-color: #DA9FD7;
    }
  }

}
.main404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  @media screen and (max-width: 768px) {
      margin: 0;
      margin-bottom: 12px;
    }
  h1{
    font-size: 200px;
    cursor: move;
    z-index: 9999;
    @media screen and (max-width: 768px) {
        margin: 0;
        font-size: 80px;
      }
   
  }
}
.game_w{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .game{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background: var(--contra_yellow);
    box-shadow: inset 5px 0 0 var(--yellow);
    box-shadow: 0 3px 0 black;
  } 
  #game_window{
    background-color: #484A47;
    border-radius: 10px;
    border: 2px solid black;
  }
  .buttons {
    @media screen and (max-width: 768px) {
      flex-direction: column !important;
      .a{
        margin: 8px;
      }
    }
    
    a {
      margin: 16px !important;
    }
  }
  .game_w{
    background-color: blue;
  }

  .game_btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  .gamebutton {
    font-family: "Space Mono";
    font-weight: 500;
    padding: 5px 10px;
      background-color: black;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      margin-left: 10px;
      box-shadow: 0 4px 0 black;
      border: 1px solid black;
      transition: all 100ms cubic-bezier(0.02, 0.01, 0.47, 1);
      &:active{
        box-shadow: 0 0 0 black;
        transform: translate(0,5px);
      }
      &.red{
        background: var(--red);
      }
      &.blue {
        background: var(--blue);
      }
      &.green {
        background: var(--cyan);
        color: var(--dark);
      }
    }
}

//header
.H_main_wrap{
  padding-top: 20px;
  @media screen and (max-width: 768px) {
      padding-top: 5px;
    }
  .H_wrap{
    background-color: #18191F;
    color: white;
    border-radius: 20px;
    padding: 25px;
    border: 2px solid var(--white);
    @media screen and (max-width: 768px) {
          padding: 20px;
        }
    .meta_wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      transition: all ease 600ms ;

      @media screen and (max-width: 768px) {
          flex-direction: column;
          .logo{
            img{
            max-height: 25px;
            }
          }
        }
      
      .button_wrapper{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        @media screen and (max-width: 768px) {
          padding-top: 20px;
          flex-wrap: wrap;
          max-height: 80px;
        }
        .link_btns{
          max-height: fit-content;
          align-items: flex-start;
          display: inline-flex;
        }
        .wrapper_btns {
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          border-radius: 7px;
          padding: 4px 8px;
          background: linear-gradient(90deg, #FF8383 0%, #F8CE64 33.48%, #C8F864 66.96%, #64F8EF 100.44%);
          transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
          color: #000000;
          font-weight: bold;
          border: 2px solid black;
          text-decoration: none;
          &:hover{
            transform: translate(0,-2px);
            &.theme_wrapper{
              transform: translate(0, 0px);
            }
          }
          
          @media screen and (max-width: 768px) {
              font-size: 13px;
              margin-left: 4px;
              padding: 4px 7px;
              
          }
          &.home {
            background: linear-gradient(90deg, #64F8EF 0%, #648DF8 100.44%);
          }

          &.playground {
            background: linear-gradient(90deg, #648DF8 0%, #D16FFF 100.44%);
          }

          &.links {
            background: linear-gradient(90deg, #F36FFF 0%, #F89964 100.44%);
          }
          &.theme{
                      background: linear-gradient(90deg, #FF8383 0%, #F8CE64 33.48%, #C8F864 66.96%, #64F8EF 100.44%);
          }
        }
        
        .theme_wrapper{
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          z-index: 9;
          transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);

          @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
          }
          @media screen and (max-width: 356px) {
            flex-direction: row;
            
          }
          
            li{

              display: block;
              visibility: hidden;
              opacity: 0;
              line-height: 12px;
              background: linear-gradient(90deg, #FF8383 0%, #F8CE64 33.48%, #C8F864 66.96%, #64F8EF 100.44%);
              transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
              height: 0;
              width: 0;

              
              &.white{
                background: var(--white);
              }
              &.dark{
                background: var(--dark);
              }
              &.light{
                background: var(--yellow);
              }
              &.blue{
                background: var(--blue);
              }
              &.cyan{
                background: var(--cyan);
              }
              &.lightdark{
                background: var(--gray);
              }
              &.pink{
                background: var(--pink);
              }
            }
            

            &:hover{
              li{
                margin-right: 10px;
                visibility: visible;
                opacity: 1;
                height: 18px;
                width: 18px;
                border-radius: 7px;
                border: 2px solid black;
                @media screen and (max-width: 768px) {
                  height: 16px;
                  width: 30px;
                  margin-bottom: 2px;
                  margin-right: 0;
                  
                }
                @media screen and (max-width: 356px) {
                  height: 18px;
                  width: 18px;
                  margin-bottom: 0;
                  margin-right: 5px;
                  
                }
              }
            }
        }
       
      }
    }
  }
}

.mainwrap{
  padding-bottom: 20px;
  
}

.link_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .list_wrapper {
      display: flex;
      flex-direction: column;
      width: 600px;
      margin-bottom: 70px;
      @media screen and (max-width: 768px) {
            max-width: 300px;
        }
      a{
        margin-top: 25px;
        text-decoration: none;
      }
      .links{
        background:var(--pink);
        color: var(--dark);
        border: 2px solid black;
        border-radius: 15px;
        font-family: 'Space Mono',monospace;
        font-weight: bold;
        font-size: 25px;
        .meta_wrap{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 12px;
          .left_wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h1{
              margin-left: 10px;
            }
            img{
              height: 32px;
              filter: invert(1);
            }
          }
          .right_wrap{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .logo {
              display: flex;
                margin-left: auto;
                align-items: center;
                justify-content: center;
            
                img {
                  height: 32px;
                  filter: invert(1);
                }
              }
          }
          
        }
      }
    }
  
  .link_head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Space Mono";
    @media screen and (max-width: 768px) {
        margin-bottom: 10px;
        margin-top: 0;
      }
    h2{
      font-size: 40px;
      font-weight: bold;
    }
    .link_nav{
      display: flex;
      flex-direction: row;
      justify-content:left;
      background: var(--dark);
      border: 3px solid black;
      border-radius: 15px;
      color: var(--white);
      margin-top: 20px;
    
      width: 300px;
      transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      
      ::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      ::-webkit-scrollbar-corner{
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb{
        background-clip: padding-box;
          border: 2px solid transparent;
          border-radius: 4px;
          background-color: var(--white);
          min-height: 5px;
          max-width: 5px;
      }
      &:hover {
      ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }}
   
      .img_wrap{
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        overflow-x: scroll;
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
          
       
        .link{
          display: block;
          min-width: 30px;
          margin-left: 10px;
        }
        img{
          margin: 5px;
          min-height: 28px;
        }
      }
    }
  }
}
.hello{
  padding: 0;
}

.play_main{
  .ply_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ply_head{
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      h1{
        font-size: 60px;
        font-weight: 700;
        @media screen and (max-width: 768px) {
            font-size: 40px;
          }
      }
      p{
        text-align: center;
      }
    }
    .ply_meta{
      margin-top: 50px;
      margin-bottom: 50px;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
        margin-bottom: 30px;
        }
    }
      ul{
     columns: 2 300px;
     margin: 0 auto;
     align-items: center;
      @media screen and (max-width: 768px) {
          margin-bottom: 10px;
          margin-top: 0;
          columns: 1 300px;
        }
     .box{
      display: inline-flex;
      justify-content: center;
      border: 1px solid black;
      border-radius: 20px;
      color: white;
      text-align: center;
      align-items: center;
      width: 100%;
      margin: 10px;
      background: var(--cyan);
      font-size: 40px;
      font-weight: bold;
      font-family: 'Space Mono';
      text-decoration: none;
      font-style: normal;
      a{
        color: white;
        display: flex;
        text-decoration: none;
      }
      box-shadow: 0px 0px 0px black;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
      transition: all 250ms cubic-bezier(.43, .12, .99, .03);
      &:hover{
        box-shadow: 0 6px 0px black;
        transform: translate(0,-5px);
      }
      &.tall{
        height: 200px;
      }
      &.red{
        background: var(--red);
      }
      &.blue{
        background: var(--blue);
      }
      @media screen and (max-width: 768px) {
        margin: 10px 0;
        font-size: 35px;
        
      }
     }


    }
    
  }
}

#globalLoader {
  z-index: 1700;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --clr: #3498db;
  /* color of spining  */
  width: 50px;
  height: 50px;
  position: relative;
}

.loader div:nth-child(1),
.loader div:nth-child(2) {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--clr);
}

.loader div:nth-child(1) {
  z-index: 100;
  animation: spin 1s infinite;
}

.loader div:nth-child(2) {
  border: 10px solid #ccc;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}